nav a {
    padding: 5px 8px;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, .5);
    margin-right: 10px;
}

nav a.active {
    color: cornflowerblue;
    background-color: #eee;
}